$gray :           #5b5b5b;
$gray2 :          #303030;
$gray3 :          #4A4A4A;
$ultraLightGray : #ededed;
$almostWhite :    #fbfbfb;
$lightenGray:     #9B9B9B;
$lightGray:       #676767;
$calloutGray :    #3a3a3a;
$darkGray :       #222222;
$tan :            #d9d4cd;
$dirty:           #A39777;
